.settings-container {
    padding-bottom: 4em;
}

.settings-header {
    margin-bottom: 1em !important;
}

.settings-card {
    margin-top: 2em !important;
    margin-bottom: 2.2em !important;
}

.settings-close-account {
    margin-top: 2em !important;
}