@import '../../base';

.business-services-page {

  padding: $page-padding-top 0 $page-padding-bottom 0;

  background-color: white;

  .container {
    width: 40rem;

    ul {
      position: relative;
      left: 2rem;
    }

    @media #{$mobile-breakpoint} {
      width: 100% !important;
    }
  }

}