.business-option-button {
    margin-bottom: 0.6em !important;
}

.business-details {
    color: #333;
    font-size: 0.96em;
    font-weight: 600;
}

.business-description {

}

.business-tags {

}

.business-tag {
    margin-right: 1em !important;
}