@import '../../base';

.forgot-password-page {

  padding: $page-padding-top 0 $page-padding-bottom 0;

  background-color: white;

  &__form {

    width: 36rem;

    margin: 0 auto;

    @media #{$mobile-breakpoint} {
      width: 100%;
    }

  }

}