@import '../../../../base';

.panel__footer {

  margin: 0;
  padding: 1.125rem 1.5rem 1.125rem 1.5rem;

  background-color: $panel-footer-background-color;

  border: 1px solid $panel-footer-border-color;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  &__content {
    font-size: $font-size-primary;
    font-weight: 400;
  }

}